/* .App {
    height: 100vh;
    display: flex;
    color:#fc6f2b;
  } */
  .saurabh{
    /* color: #fc6f2b !important; */
    height: 100vh;
    display: flex;
    /* background-image: url(http://localhost:3000/static/media/bg.f549e873a52f12025a89.jpeg); */
    /* background-image: url("ahom2.jpg"); */

    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsTLdCdMIIqxWa8QUIsw-MJ3NtjR_6jHz29w&usqp=CAU); */
    background-repeat: no-repeat;
    
    align-items: center;
    
    justify-content: center;
    position: relative;
  }

  .appAside {
    width: 70%;
    background-color: whitesmoke;
  }
  
  .appForm {
    width: 30%;
    height: 85%;
    /* background-color:#ffffff; */
    /* background:rgb(115, 115, 205) ; */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: #3c354e;
    padding: 25px 40px;
    border-radius:20px;
    /* box-shadow: 0 0 0 0.2rem #b9abe0; */
    backdrop-filter: blur(0.25rem);
    position: relative;

    /* overflow: auto; */
    /* margin: 0px 480px; */
   
    /* z-index: 2; */
  }
  
  .pageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .pageSwitcherItem {
    background-color: #40434e;
    color: #9da6b1;
    padding: 10px 25px;
    cursor: pointer;
  

    font-size: 1.2em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  .pageSwitcherItem:focus{
    background-color: #6b5b95;
  }
  .pageSwitcherItem-active {
    background-color: #6b5b95;
    color: white;
  }
  
  .pageSwitcherItem:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .pageSwitcherItem:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .formCenter {
    /* margin-bottom: 70px; */
    margin-top: 30px;
    /* padding-bottom: 14.5vh; */
  }
  
  .formTitle {
    color: #707c8b;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .formTitleLink {
    color: #707c8b;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
    font-family: Georgia, serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  }
 

  .formTitleLink:first-child {
    margin-left: 100px;
    color: #fc6f2b;
  }
  
  .formTitleLink-active {
    color: white;
    border-bottom: 1px solid #6b5b95;
  }
  
  .formField {
    margin-bottom: 5px;
    margin-top: 20px;
  }
  
  .formFieldLabel {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(15, 14, 14);
    width: 100%;
    
  }
  .formFieldInput {
    width: 85%;
    background-color: transparent;
    /* border: ; */
    color:rgb(10, 9, 9);
    border-radius: 10px;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding: 5px 10px;
    margin-top: 10px;
  }
  
  .formFieldInput::placeholder {
    color: #130303;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
  }
  
  .formFieldButton {
    background-color:#489de9;
    
    color: rgb(12, 5, 2);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 15px 50px;
    
    font-size: 1em;
    /* font-weight: 500; */
  }
  .formFieldButton:hover{
    background-color: rgb(20, 104, 189);
  }
  
  .formFieldLink {
    color: #66707d;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #6b5b95;
    padding-bottom: 5px;
  }
  
  .formFieldCheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
  }
  
  .formFieldCheckbox {
    position: relative;
    top: 1.5px;
  }
  
  .formFieldTermsLink {
    color: white;
    border-bottom: 1px solid #6b5b95;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  
  .socialMediaButtons {
    padding: 10px 100px 10px 0px;
  }
  .body{
    background-image: url(ahom2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
  /* .logo{
     
    width: 100%;
    position: relative;
    /* background-size: auto; */
   
  .logo img{
    height: 100%;
    width: 100%;
  }
  