* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif!important;
}
.main-container {
  display: flex;
 
}
main {
  padding: 10px;
  width: 100%;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  overflow-wrap: normal;
  color: white;
  height: 60vw;
  width: 10vw;
  
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 40px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 5px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 2px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 14px;
}
.link_text_sub {
  white-space: nowrap;
  font-size: 13px;
  
}
.btn-link{
  position: absolute;
  margin-left: 86%;
}
NavLink:hover {
  cursor: pointer;
}
.menu{
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.menu_item{
  display: flex;
  gap: 10px;
}
.icon_sub{
  margin-left: 0.7rem;
}
.cards{
  width: 100%;
  padding: auto;
  margin-left: 2rem;
  margin-top: 3.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ta{
  width: 100%;
}
.container2{
  width: 970px;
  margin: auto;
}
/* Attendance AMAN */
/* .main-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
} */

/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  /* height: auto; */
  /* width: 300px; */
  position: sticky;
  top:0.2px;
  height: 100vh;
  overflow-y: auto;
  /* overflow-x: hidden; */
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 20;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: rgb(92, 68, 68);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}








fieldset{
  border:2px solid grey;
  margin:2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  padding:10px 50px;
  width:90%;
  box-shadow: 2px 2px 5px #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
legend{
  border-radius: 10px;
  position: absolute;
  margin:-1030px 0px 0px -40rem;
  background-color: #fff;
  width:17rem;
  font-size:1.5rem;
  font-weight: 600;
  color:#000;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
label{
  font-weight: 600;
}
.labelContainer select:enabled{
  width:100%;
  height:100%;
  border:none;
  border-bottom:2px solid grey;
  outline:none;
  padding-left:1rem ;
}
.labelContainer select:disabled{
  width:100%;
  height:100%;
  border:none;
  border-bottom:2px solid grey;
  outline:none;
  padding-left:1rem ;
  cursor:no-drop;
  background-image: linear-gradient(to right, transparent, rgb(248, 245, 245),rgb(226, 219, 219));
  font-weight: 530;
  color: #a79f9f;

  }

.labelContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:auto;
  width:25%;
  padding:1rem;
}
.all{
  height:40px;
  width:98%;
  display: flex;
  align-items: center;
  margin-top:30px;
  /* border:1px solid red; */
}
.all input[type="text"]{
  width:100%;
  height:100%;
  border:none;
  border-bottom:2px solid grey;
  outline:none;
  padding-left:1rem ;
}
.all input[type="month"]{
  width:100%;
  height:100%;
  border:none;
  border-bottom:2px solid grey;
  outline:none;
  padding-left:1rem ;
}
.all input[type="number"]{
  width:100%;
  height:100%;
  border:none;
  border-bottom:2px solid grey;
  outline:none;
  padding-left:1rem ;
}

.pdfMainContainer{
  position:absolute;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:98.8vw;
  overflow:auto;
  z-index: 100;
  margin:-10px 0px 0px -265px;
  padding-top:10px;
  position:fixed;
  background-color: #fff;
  backdrop-filter: blur(4px);
  animation:pdfFile 2s linear;
  -webkit-animation:pdfFile 0.2s linear;
}
@keyframes pdfFile{
  0%{
    transform:scale(0%);
    -webkit-transform:scale(0%);
    -moz-transform:scale(0%);
    -ms-transform:scale(0%);
    -o-transform:scale(0%);
}
  100%{
    transform:scale(100%);
    -webkit-transform:scale(100%);
    -moz-transform:scale(100%);
    -ms-transform:scale(100%);
    -o-transform:scale(100%);
}
}
.innerPdf{
  height:85%;
  width:75%;
  color:#000;
  background-color: #fff;
}

table{
  width: 100%;
  border-collapse:collapse;
  border: 1px solid rgb(145, 143, 143);
  }
  table td{
    line-height:25px;
    padding-left:15px;
  }

  table th{
    background-color:#dbd9d5; 
    color:#363636;
    padding-left:10px;
  } 
  .eyeButton{
    color:#fff;
    border: none;
    font-size: 27px;
    position: absolute;
    background-color: transparent;
  margin-left:-30px;
  }